<!DOCTYPE html>
<html>
<head>
  <title>Lowi Credit Note</title>
  <link rel="stylesheet" type="text/css" media="all" href="lowi_style.css"/>
</head>

<body>
<div class="rotate p5 ft4">
  <p>Vodafone Enabler España S.L. - Avenida de América 115, 28042 Madrid - España  Reg. M. Madrid, Tomo 16.076, Folio 106 Sección 8, Hoja M-272203, Inscripción 1º - C.I.F. B-82896119</p>
</div>
<div class="header" style="margin-top: -50px;">
  <div id="page">
    <table>
      <tr>
        <td>
          <div id="logodiv">
            <img id="logoimage" src="JOiNew.png"/>
          </div>
        </td>
      </tr>
    </table>
    <div id="id1_2">
      <div id="creditNote" style="margin-left: -3px;">
        <table>
          <tr>
            <td>
              <table>
                <td valign="top">
                  <tr>
                <td class="tr2 td0">
                  <P class="p1 ft2">N° de factura</P>
                </td>
          </tr>
          <tr>
            <td class="tr2 td0">
              <P class="p1 ft2">Cuenta Nº</P>
            </td>
          </tr>
          <tr>
            <td class="tr2 td0">
              <P class="p1 ft2">Titular</P>
            </td>
          </tr>
          <tr>
            <td class="tr2 td0">
              <P class="p1 ft2"> NIF/CIF</P>
            </td>
          </tr>
          <tr>
            <td class="tr2 td0">
              <P class="p1 ft2">Fecha de emisión</P>
            </td>
          </tr>
          </td>
        </table>
        </td>
        <td>
          <table>
            <td valign="top">
              <tr>
            <td class="tr2 td0">
              <P class="p2 ft2">1000</P>
            </td>
            </tr>
            <tr>
              <td class="tr2 td0">
                <P class="p2 ft2">000</P>
              </td>
            </tr>
            <tr>
              <td class="tr2 td0">
                <P class="p2 ft2">k yadhav </P>
              </td>
            </tr>
            <tr>
              <td class="tr2 td0">
                <P class="p2 ft2">100</P>
              </td>
            </tr>
            <tr>
              <td class="tr2 td0">
                <P class="p2 ft2">11/01/2024</P>
              </td>
            </tr>
        </td>
        </table>
        </td>
        </tr>
        </table>
        <table>
          <td valign="top">
            <tr>
          <td class="tr2 td1">
            <P class="p2 ft2">k yadhav  </P>
          </td>
          </tr>
          <tr>
            <td class="tr2 td1">
              <P class="p2 ft2">nandipet</P>
            </td>
          </tr>
          <div>
            <tr>
              <td class="tr2 td1">
                <P class="p2 ft2">1-104 </P>
              </td>
            </tr>
          </div>
          <tr>
            <td class="tr2 td1">
              <P class="p2 ft2">600000 mbnr</P>
            </td>
          </tr>
          <tr>
            <td class="tr2 td1">
              <P class="p2 ft2">ts</P>
            </td>
          </tr>
          </td>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="middle">
  <div class="creditNote">
    <table>
      <tr>
        <td class="tr2 td0">
          <P class="p1 ft2">Factura/s que se rectifica/n:</P>
        </td>
      </tr>
    </table>
    <div class="invoice">
      <table>
        <tr>
          <td class="tr2 td0">
            <P class="p1 ft3">1234455 del 11/1/24</P>
          </td>
        </tr>
        <tr>
          <td class="tr2 td0">
            <P class="p1 ft3">010101 del 1/1/24</P>
          </td>
        </tr>
      </table>
    </div>
    <table>
      <tr>
        <td class="tr2 td0 bgtd">
          <P class="p1 ft2">Conceptos abonados</P>
        </td>
        <td class="tr2 td0 bgtd">
          <P class="p1 ft3">&nbsp;</P>
        </td>
      </tr>
      <tr>
        <td class="tr2 td0">
          <P class="p1 ft3">Cuotas</P>
        </td>
        <td class="tr2 td0">
          <P class="p4 ft3">-1.0 </P>
        </td>
      </tr>
      <tr>
        <td class="tr2 td0">
          <P class="p1 ft3">Consumos</P>
        </td>
        <td class="tr2 td0">
          <P class="p4 ft3">0.0 </P>
        </td>
      </tr>
      <tr>
        <td class="tr2 td0 brbt2">
          <P class="p1 ft3">Otros abonos</P>
        </td>
        <td class="tr2 td0 brbt2">
          <P class="p4 ft3">-1.0 </P>
        </td>
      </tr>
      <!--                    <tr>-->
      <!--                        <td class="tr2 td0"><P class="p1 ft5">&nbsp;</P></td>-->
      <!--                    </tr>-->
      <tr>
        <td class="tr2 td0">
          <P class="p3 ft6">Base Imponible 1%</P>
        </td>
        <td class="tr2 td0">
          <P class="p4 ft6">-10.0 €</P>
        </td>
      </tr>
      <tr>
        <td class="tr2 td0">
          <P class="p3 ft2">vf 1%</P>
        </td>
        <td class="tr2 td0">
          <P class="p4 ft2">-5.0 €</P>
        </td>
      </tr>
      <tr>
        <td class="tr2 td0">
          <P class="p3 ft2">Total abono</P>
        </td>
        <td class="tr2 td0">
          <P class="p4 ft2">-15.0 €</P>
        </td>
      </tr>
    </table>
  </div>
  <div class="text">
    <div style="margin-top: 50px;">
      <span class="p6 ft2">Método de abono: </span>
      <span class="p6 ft3">Información del abono. Recibirá el importe de esta factura en su factura del próximo ciclo</span>
    </div>
    <div style="margin-top: 50px;">
      <span class="p6 ft2">Motivo del abono: </span>
      <span class="p6 ft3">Error Base Imponible</span>
    </div>
  </div>
</div>
</body>
</html>